html, body {
    padding: 5px;
 }

 body {
     display: grid;
     grid-template-rows: .1fr .30fr .60fr .05fr;
     grid-template-columns: 1fr;
     grid-template-areas: "header" "main" "map"  "footer";
     justify-content: center;
 }

 header {
    grid-area: header;
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    justify-content: center;
 }

.main {
    display: grid;
    grid-area: main; 
    grid-template-rows: 1fr;
    grid-template-columns: .4fr .6fr;
    background-image: linear-gradient(to right, aqua, rgb(56, 56, 151));
}

#map {
    grid-area: map;
    height: 70vh;
    color:white;
}

#footer {
    grid-area: footer;
}

#studylocations h2 {
    background-color: rgb(216, 216, 197);
}